* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 500px 500px 1fr;
  grid-template-areas:
    '. header header .'
    '. aside content .'
    '. footer footer .';
}

.header {
  grid-area: header;
  background-color: red;
}

.aside {
  grid-area: aside;
  background-color: blue;
}

.content {
  grid-area: content;
  background-color: yellow;
}

.footer {
  grid-area: footer;
  background-color: green;
}
