* {
  margin: 0;
  padding: 0;
}

/* note: just to highlight different sections */
.grid div:nth-child(even) {
  background-color: red;
}

.grid div:nth-child(odd) {
  background-color: green;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
